body{
    margin: 0;
    padding: 0;
}

div{
    margin: 0;
    padding: 0;
    vertical-align: top;
}


@keyframes navbar_bg_color_ani {
    to {background-color: #262626}
}

.navbar{
    top:0;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 8vh;
    background-color: transparent;
}

.navbar:hover{
    animation: navbar_bg_color_ani 1.5s forwards;
}

.logo{
    font-size: 1vw;
    color: white;
    width: 10vw;
    float: left;
    line-height: 8vh;
    text-align: center;
    margin-left: 3vw;
}


.menu_group{
    float: left;
    width: 82vw;
}


@keyframes menu_item_border_ani {
    to {border-bottom: 3.5px white solid;}
}

.menu_item{
    margin-left: 5.5vw;
    margin-top: 0.5vh;
    color: white;
    line-height: 7vh;
    height: 7vh;
    font-size: 1vw;
    float: left;
}

.menu_item:hover{
    animation: menu_item_border_ani 0.3s forwards;
}

@keyframes menu_btn_color_ani {
    to {color:  blue;}
}

.login{
    margin-top: 0.5vh;
    color: white;
    line-height: 7vh;
    height: 7vh;
    font-size: 1.2vw;
    float: right;
}

.login:hover {
    animation: menu_btn_color_ani 0.3s forwards;
}

.divider{

    margin-top: 0.5vh;
    color: white;
    line-height: 7vh;
    height: 7vh;
    font-size: 1.2vw;
    float: right;
}

.sign_in{
    margin-top: 0.5vh;
    color: white;
    line-height: 7vh;
    height: 7vh;
    font-size: 1.2vw;
    float: right;
}
.sign_in:hover {
    animation: menu_btn_color_ani 0.3s forwards;
}





@keyframes menu_item_button_ani {
    to {background-color: blue}
    to {color: white}
}


.menu_item_botton{
    font-size: 0.9vw;
    text-align: center;
    line-height: 4vh;
    background-color: white;
    color: blue;
    border-radius: 5%;
    height: 4vh;
    margin-top: 2vh;
    width: 5vw;
    float: left;
}

.navbar:hover .menu_item_botton{
    animation: menu_item_button_ani 1s forwards;
}

.content{
    margin-top: -8vh;
    position: relative;
    border: none;
    z-index: 5;
    width: 100vw;
    height: 70vh;
}

.content2{
    position: relative;
    border: none;
    z-index: 5;
    width: 100vw;
    height: 110vh;
}

.content3{
    position: relative;
    border: none;
    z-index: 5;
    width: 100vw;
    height: 80vh;
}

.content4{
    position: relative;
    border: none;
    z-index: 5;
    width: 100vw;
    height: 100vh;
}

.content5{
    position: relative;
    border: none;
    z-index: 5;
    width: 100vw;
    height: 65vh;
}

.content6{
    position: relative;
    border: none;
    z-index: 5;
    width: 100vw;
    height: 60vh;
}

.content7{
    position: relative;
    border: none;
    z-index: 5;
    width: 100vw;
    height: 25vh;
}
.Technology_menu_item_content_title{
    color: white;
    font-size: inherit;
    font-weight: 900;
    padding-top: 3vh;
    padding-left: 2vw;
}

.technology_menu_item_content_title_sub_title{
    color: inherit;
    font-size: 1vw;
    padding-top: 1.5vh;
    font-weight: 400;
    padding-left: 2vw;
}

.technology_menu_item_content_title_sub_title_content_first{
    color: inherit;
    font-size: 0.8vw;
    font-weight: 100;
    padding-left: 2vw;
    padding-top: 0.7vh;
    display: inline;
}

.technology_menu_item_content_title_sub_title_content{
    color: inherit;
    font-size: 0.8vw;
    font-weight: 100;
    padding-left: 1vw;
    padding-top: 0.7vh;
    display: inline;
}
.technology_menu_item_content_title_sub_title_content_first:hover{
    color: blue;
}

.technology_menu_item_content_title_sub_title_content:hover{
    color: blue;
}

.technology_menu_item_content_coloum_1{
    display: inline-block;
}
.technology_menu_item_content_coloum_2{
    margin-left: 10vw;
    display: inline-block;
}

.technology_menu_item_content_coloum_3{
    margin-left: 10vw;
    display: inline-block;
}


.Solution_menu_item_content_coloum_1{
    margin-left: 10vw;
    display: inline-block;
}

.menu_item_group_block:hover{
    background-color: grey;
}